ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 5px;
}
li {
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #E8E8E8;
}
.box {
  background: #000;
  z-index: 2;
  border-radius: 4px;
  padding: 16px;
  margin: 0 0 24px;
  box-shadow: 0 0px 16px rgb(0 0 0 / 24%);
}
.box header h1 { color: #E0E0E0; }
.legend-point {
  width: 7px;
  height: 7px;
  align-self: center;
  border-radius: 50%;
  margin-right: 12px;
  box-sizing: border-box;
  display: inline-block;
}
#telefonica { background-color: #027091; }
#vodafone { background-color: #cc3333; }
#orange { background-color:#cc751f; }
#yoigo { background-color: #0353e7; }
#other { background-color: #7400b7; }

